entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 46762479
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "/nix/store/brk41mvaqsffxszsiw6lcd35m6y1pp0v-nodejs-22.17.0-wrapped/bin/node index.js"
